<nav>
  <div class="nav-wrapper  indigo accent-3  ">

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/tareas">Tareas</a></li>
      <li><a routerLink="/procesos">Procesos</a></li>
      <li><a routerLink="/usuarios">Usuarios</a></li>
      <li><a routerLink="/app">Salir</a></li>

    </ul>
  </div>
</nav>
<ul id="slide-out" class="side-nav fixed">
<li>
  <div class="user-view">
    <img id="us" src="https://i.ytimg.com/vi/gYHY8wyxw7o/maxresdefault.jpg" alt="">
  </div>
</li>
<li (click)="listarUsuarios()">
  <ul class="collapsible " data-collapsible="accordion">
    <li>
      <div class="collapsible-header green accent-4" (click)="mostrarFormulario()" ><i class="material-icons">add</i>Crear</div>
     
   
  </li>
    <li>
      <div class="collapsible-header green accent-4" (click)="mostrarTabla()"><i class="material-icons">border_color</i>Modificar</div>
    </li>
    <li>
      <div class="collapsible-header green accent-4" (click)="formularioEliminar()"><i class="material-icons">close</i>Eliminar</div>
    </li>
  </ul>
</li>
</ul>
<div class="container f2" *ngIf="form">
 <div class="row">
  <div class="input-field col s5">
    <input id="nombre"  [(ngModel)]="user.nombre" type="text" class="validate" >
    <label for="nombre">Nombre</label>
  </div>
  <div class="input-field col s5 offset-2">
    <input id="apellido" [(ngModel)]="user.apellido" type="text" class="validate"  >
    <label for="apellido">Apellido</label>
  </div>
 </div>
<div class="row">
  <div class="input-field col s5">
    <input id="NickName" [(ngModel)]="user.nickName" type="text" class="validate" >
    <label for="NickName">NickName</label>
  </div>
  <div class="input-field col s5 offset-2">
    <input id="password" [(ngModel)]="user.password" type="password" class="validate" >
    <label for="password">password</label>
  </div>
</div>
  <div class="row">
    <div class="input-field col s5">
      <input id="email" type="email" class="validate" [(ngModel)]="user.email">
      <label for="email">email</label>
    </div>
    <!-- <div class="input-field col s5 offset-2">
      <select class="active">
      <option value="" [(ngModel)]="user.rol" disabled selected >Elegir Rol</option>
      <option value="1">Administrador</option>
      <option value="2">Participante</option>
     </select> </div>-->
      <div class="input-field col s5 offset-2 ">
        <input id="rol" type="text" class="validate" [(ngModel)]="user.rol">
        <label for="rol">Rol</label>
  
    
    </div>
  </div>
    <div class="row">
     
        <div class="row col s4 offset-s2">
      <button class="btn waves-effect red darken-3" type="submit" name="action" (click)="ocultarForm()">Cancelar 
    <i class="material-icons right">send</i></button>
    </div>
    <div class="row col s2 offset-s2 ">
    <button class="btn waves-effect  green accent-4" type="submit" name="action" (click)="crearUsuario()">Aceptar
    <i class="material-icons right">send</i>
  </button></div>
   

</div>


</div>
<div class="row tabla" *ngIf="tabla">
 <h2>Modificar Usuarios</h2>
  <div class="row col s8">
<table class ="bordered highlight">
 
  <thead>
    <tr>
      <th>Nombre</th>
      <th>NickName</th>
      <th>Rol</th>

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let u of usuarios" (click)="modificarUsuarioForm(u)">
      <td>{{u.nombre}}</td>
      <td>{{u.nickName}}</td>
      <td>{{u.rol}}</td>
     
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="container f2" *ngIf="form2">
  <div class="row">
    <div class="input-field col s5">
      <input id="nombre" [(ngModel)]="user.nombre" type="text" class="validate">
      <label for="nombre">Nombre</label>
    </div>
    <div class="input-field col s5 offset-2">
      <input id="apellido" [(ngModel)]="user.apellido" type="text" class="validate">
      <label for="apellido">Apellido</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s5">
      <input id="NickName" [(ngModel)]="user.nickName" type="text" class="validate">
      <label for="NickName">NickName</label>
    </div>
    <div class="input-field col s5 offset-2">
      <input id="password" [(ngModel)]="user.password" type="password" class="validate">
      <label for="password">password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s5">
      <input id="email" type="email" class="validate" [(ngModel)]="user.email">
      <label for="email">email</label>
    </div>
    <!-- <div class="input-field col s5 offset-2">
      <select class="active">
      <option value="" [(ngModel)]="user.rol" disabled selected >Elegir Rol</option>
      <option value="1">Administrador</option>
      <option value="2">Participante</option>
     </select> </div>-->
    <div class="input-field col s5 offset-2 ">
      <input id="rol" type="text" class="validate" [(ngModel)]="user.rol">
      <label for="rol">Rol</label>


    </div>
  </div>
  <div class="row">

    <div class="row col s4 offset-s2">
      <button class="btn waves-effect red darken-3" type="submit" name="action" (click)="ocultarForm()">Cancelar 
    <i class="material-icons right">send</i></button>
    </div>
    <div class="row col s2 offset-s2 ">
      <button class="btn waves-effect  green accent-4" type="submit" name="action" (click)="modificarUsuario()">Modificar
    <i class="material-icons right">send</i>
  </button></div>


  </div>


</div>
<div class="row tabla" *ngIf="tabla2" >
<h2>Eliminar Usuarios</h2>
  <div class="row col s8">
    <table class="bordered highlight">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>NickName</th>
          <th>Rol</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of usuarios" (click)="eliminarUsuarioForm(u)">
          <td>{{u.nombre}}</td>
          <td>{{u.nickName}}</td>
          <td>{{u.rol}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" id="eliminar" *ngIf="avisoEliminar">
  <div class="row">
      <div class="input-field col s4">
        <input disabled  [(ngModel)]="user.nombre" id="disabled" type="text" class="validate">
      </div>
      <div class="input-field col s4 offset-s2">
        <input disabled [(ngModel)]="user.nickName" id="disabled" type="text" class="validate">
      </div>
  </div>
  <div class="row">
    <div class="row col s4 offset-s2">
      <button class="btn waves-effect red darken-3" type="submit" name="action" (click)="ocultarForm()">Cancelar 
    <i class="material-icons right">send</i></button>
    </div>
    <div class="row col s2 offset-s2 ">
      <button class="btn waves-effect  green accent-4" type="submit" name="action" (click)="eliminarUsuario()">Eliminar
    <i class="material-icons right">send</i>
  </button></div>
  </div>
</div>